<%- include("header") -%>

<h1>Introduction for myself</h1>
<p class="about-paragraph text-center">Hi! My name is Angelo Louis L. Hizon, your average joe studying in University of Santo Tomas where I am under the Institute of Information and Computing Science. With the program of computer science that focuses on data science where I aspire to
  become a future software engineer.
</p>

<%- include("footer") -%>
